fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv
python-multipart

requests

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

itsdangerous

pymupdf
Pillow
python-pptx

fastembed

psycopg[binary]
psycopg-pool

groq